In [1]:

%load_ext sql

In [3]:
%sql postgresql://localhost/todo

In [7]:
%%sql
ALTER TABLE to_dos
ADD COLUMN status VARCHAR(255);

 * postgresql://localhost/todo
Done.

[]

In [8]:
%%sql
SELECT * FROM
to_dos

 * postgresql://localhost/todo
2 rows affected.

[(1, 'Bouldering', 'Fitness', '2 hour bouldering session', None),
 (2, 'Running', 'Fitness', '1 hour mile run', None)]

In [9]:
%%sql
UPDATE to_dos
SET status = 'todo'
WHERE id in(1,2);

 * postgresql://localhost/todo
2 rows affected.

[]

In [10]:
%%sql
SELECT * FROM
to_dos

 * postgresql://localhost/todo
2 rows affected.

[(1, 'Bouldering', 'Fitness', '2 hour bouldering session', 'todo'),
 (2, 'Running', 'Fitness', '1 hour mile run', 'todo')]